@charset "utf-8";

$color-text:#A6ADB4;
$title-text:#202124;
$color-gray:#F6F8F9;
$color-pink:#FA6980;
$color-footer:#CBD0D3;

@mixin title-main {
            color:$title-text;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 30px;
        padding: 60px 0 30px;
        border-bottom: 2px solid #EBEDED;
}

@mixin inner($w:80%){
    width: $w ;
    max-width: 1000px;
    margin: 0 auto;
}

@mixin sub-title {
    font-size: 18px;
    font-weight: bold;
    line-height: (30/18);
    color: $title-text;
    margin-bottom: 10px;
}

@mixin flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

@mixin flex-justify {
    justify-content: space-between;
}

body{
color: $color-text;
font-size: 14px;
font-family: Arial, Helvetica, sans-serif;
line-height: (24/14);
}

img{
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: $color-text
}

.flex{
    @include flex()
}

/*header
----------------------------------------*/

.header{

    &__inner{
        @include inner();
        @include flex();
        @include flex-justify();
        padding-top: 30px;
    }

    .gnav{

        &__item{
            color: $color-text;
            font-size: 12px;
            font-weight: bold;
            margin-left: 20px;
        }

        &__item a:hover{
            color: $title-text;
        }

    }
}


/*block
----------------------------------------*/

/* more news */
.news{
    &__title{
        @include title-main()
    }

    &__inner{
        @include inner()
    }

    .card{

        &__list{
        width: 47.5%;
        padding-bottom: 60px
        }

        &__flex{
            @include flex();
            @include flex-justify();
        }

        &__titile{
            @include sub-title();
        }

        &__categori{
            color: $color-pink;
            font-size: 12px;
            font-weight: bold;
            line-height: (20/12);
        }

        &__time{
            font-size: 12px;
            font-style: italic;
            line-height: (20/12);
            padding-top: 8px;
            padding-left: 5px;
        }
    }

}

/* trending */

.trending{
background-color: $color-gray;

     &__title{
        @include title-main()
     }

     &__inner{
         @include inner()
     }

     .box{
         background-color: #fff;
         width: 47.5%;
         margin-bottom: 60px;

         &__flex{
             @include flex();
             @include flex-justify();
         }

         &__title{
             @include sub-title();
         }

         &__img{
             width: 100%
         }

         &__inner{
             @include inner();
             padding: 35px 0;
         }

         &__btn{
                 width: 160px;
    margin-left: auto;
}

     }
}

/* btn */

.btn{
display: block;
width: 160px;
color: #fff;
background-color: $color-pink;
font-size: 12px;
font-weight:bold;
text-align: center;
padding: 13px 0;
margin-top: 30px;
}

/*footer
----------------------------------------*/

.footer{
    background-color: $color-text;
    color: $color-footer;
    padding: 100px 0 40px;

    &__inner{
        @include inner()
    }
}